<div class="messagerieContainer">
    <div class="messageContainer">
        <p>Vous n'avez actuellement aucun message.</p>
    </div>
    <!-- <div class="messageContainer"
    *ngFor="let message of messages">
    <div class="identite">
        <img width="50" alt="Profil" src="../assets/img/icons/profil.png">
        <h1>{{ message.auteur }}</h1>
        <span>{{ message.date | date:'dd/MM/yyyy, h:mm a' }}</span>
    </div>
    <p>{{ message.message }}</p>
    <button>Commenter</button>
    </div>
    <div class="fin">
        <p>Fin</p>
    </div> -->
</div>
