<nav class="navbar">
    <ul>
      <li><a routerLink="/" routerLinkActive="active"><img width="50" alt="Accueil" src="../assets/img/icons/home.ico"><span>Accueil</span></a></li>
      <li><a routerLink="/" routerLinkActive="active"><img width="50" alt="Recherche" src="../assets/img/icons/search.png"><span>Recherche</span></a></li>
      <li><a routerLink="/" routerLinkActive="active"><img width="50" alt="Messages" src="../assets/img/icons/msg.png"><span>Messages</span></a></li>
      <li><a routerLink="/auth" routerLinkActive="active"><img width="50" alt="Profil" src="../assets/img/icons/profil.png"><span>Profil</span></a></li>
    </ul>
</nav> 
