.accContent {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-left: 12em;
    max-width: 80%;
    padding: 150px 0 20px 20px;
}

.accContainer {
    border-radius: 30px;
    box-shadow: 4px 4px 10px rgb(255, 170, 0);
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 40px;
}

.identite {
    display: flex;
    justify-content: start;
    border-bottom: solid  2px rgba(255, 170, 0,0.5);
    margin: 0 20px 0 40px;
}

img {
    background-color: white;
    border-radius: 50%;
    border: 3px solid rgb(61, 185, 249);
    box-shadow: 2px 2px 7px rgba(119, 119, 118, 0.349);
    height: 60px;
    margin-left: -52px;
    margin-top: -15px;
    padding: 5px;
    width: 60px;
}

h1,
p {
    margin-right: 20px;
}

h1 {
    flex-grow: 1;
    padding: 3px 0 5px 9px;
    font-size: 19px;
}

span {
    align-self: center;
}

p {
    background-color: rgba(255, 170, 0, 0.050);
    border-radius: 10px;
    border: solid 1px rgba(255, 170, 0, 0.2);
    margin-bottom: 30px;
    margin-left: 20px;
    padding: 10px;
}

.accContent .accContainer button {
    align-self: center;
    background-color: rgb(255, 170, 0) ;
    border-radius: 10px;
    border: solid 2px rgb(255, 170, 0);
    box-shadow: 2px 2px 7px rgba(134, 134, 134, 0.349);
    font-weight: bold;
    margin-bottom: 20px;
    padding: 10px;
    width: 180px;
}

.accContent .accContainer button:hover {
    border: outset 2px rgba(61, 186, 249, 0.25);
    box-shadow: 2px 2px 7px rgba(134, 134, 134, 0.781);
    color: white;
    cursor: pointer;
}

/* Responsive Styles */
@media screen and (max-width: 950px) {
    .accContent {
        margin: 0px 3em 0px 4em;
        padding: 130px 0px 0px 70px;
        top: 90px;
    }
    img {
        width: 50px;
        height: 50px;
    } 
    h1 {
        font-size: 18px;
        padding: 2px 0 0 12px;
    }
}

@media screen and (max-width: 700px) {
    .accContent {
        margin: 0px 3em;
        padding-bottom: 90px;
        padding-left: 0px;
    }
    .accContainer {
        min-width: 290px;
        width: 90%;
    }
    img {
        width: 45px;
        height: 45px;
        margin-left: -50px;
        margin-top: -13px;
    } 
    h1 {
        font-size: 17px;
    }
}