<div class="accContent" role="main"> 
    <div class="accContainer">
        <div class="identite">
            <img width="50" alt="Profil" src="../assets/img/icons/profil.png">
            <h1>{{ profil.pseudo }}</h1>
            <span>{{ profil.message.date }}</span>
        </div>
        <p>{{ profil.message.texte }}</p>
        <button>Commenter</button>
    </div>
    <div class="accContainer">
        <div class="identite">
            <img width="50" alt="Profil" src="../assets/img/icons/profil.png">
            <h1>{{ profil.pseudo }}</h1>
            <span>date de publication</span>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore unde, esse ipsa provident, laboriosam perferendis dolore eum quo reprehenderit nemo deserunt doloremque quia autem fugit officiis quisquam dicta commodi quae.</p>
        <button>Commenter</button>
    </div>
</div>
