<div class="rechercheContainer" role="main">

    <form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">
        <h2>Rechercher:</h2>
        <div>
            <input type="search" id="search" name="search" ngModel required>
            <select name="findBy" id="findBy" ngModel required>
                <option value="pseudo">Par pseudonyme</option>
                <option value="prenom">Par prénom</option>
                <option value="nom">Par nom</option>
            </select>
        </div>
        <button type="submit" [disabled]="searchForm.invalid">Lancer la recherche</button>
    </form>
    
    <ul>
        <li *ngFor="let user of users">
            <img width="50" alt="Profil" src="../assets/img/icons/profil.png">
            <div class="identite">
                <h2>{{ user.pseudo }}</h2>
                <h4>{{ user.prenom }} {{ user.nom }}</h4>
            </div>
            <button routerLink="/recherche/{{ user.id }}" routerLinkActive="active">Consulter le profil</button>
        </li>
    </ul>
    <div class="fin">
        <p>Fin</p>
    </div>
</div>
