<div class="connectionContainer">

    <form (ngSubmit)="onSubmit(connectionForm)" #connectionForm="ngForm">

        <label for="pseudo">Pseudonyme <abbr title="required">*</abbr></label>
        <input type="text" name="pseudo" id="pseudo" ngModel required>

        <label for="password">Mot de Passe <abbr title="required">*</abbr></label>
        <input type="password" name="password" ngModel required>

        <p *ngIf="erreurConnection == true">Pseudonyme ou mot de passe incorrect.</p>

        <input type="submit" value="Connection" [disabled]="connectionForm.invalid">
            
    </form>

</div>