<div class="connexionContainer">

    <form (ngSubmit)="onSubmit(connexionForm)" #connexionForm="ngForm">

        <label for="pseudo">Pseudonyme <abbr title="required">*</abbr></label>
        <input type="text" name="pseudo" id="pseudo" ngModel required>

        <label for="password">Mot de Passe <abbr title="required">*</abbr></label>
        <input type="password" name="password" ngModel required>

        <p *ngIf="erreurConnexion == true">Pseudonyme ou mot de passe incorrect.</p>

        <input type="submit" value="Connexion" [disabled]="connexionForm.invalid">
            
    </form>

</div>