.connexionContainer {
    border-radius: 2px 30px;
    box-shadow: 4px 4px 10px rgb(255, 170, 0);
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    width: 500px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 0 0 5px 55px;
}

input[ngModel] {
    border-radius: 10px;
    border: solid 2px rgb(255, 170, 0);
    box-shadow: 4px 4px 7px rgba(255, 170, 0, 0.25);
    margin : 0 50px 10px;
    padding: 5px;
}

p {
    color: red;
    text-align: center;
}

input[type="submit"] {
    align-self: center;
    background-color: rgb(255, 170, 0);
    border-radius: 2px 15px;
    border: none;
    box-shadow: 2px 2px 7px rgba(134, 134, 134, 0.349);
    color: black;
    cursor: pointer;
    font-weight: bold;
    margin: 15px 0 25px;
    padding: 10px;
    width: 180px;
}


input[disabled] {
    background-color: rgb(196, 130, 0);
    color: rgb(75, 74, 74);
    cursor: initial;
}

input[type="submit"]:hover {
    box-shadow: 2px 2px 7px rgba(134, 134, 134, 0.781);
    color: white;
}

input[disabled]:hover {
    box-shadow: 2px 2px 7px rgba(134, 134, 134, 0.349);
    color: rgb(75, 74, 74);
}


/* Responsive Styles */
@media screen and (max-width: 700px) {
    .connexionContainer {
        min-width: 280px;
        width: auto;
    }
    input[ngModel] {
        margin : 0 25px 10px;
    }
    label {
        margin-left: 35px;
    }
}