<div class="container">

  <!-- Header -->
  <header role="banner">
    <img
      width="100"
      alt="Handi'Aide Logo"
      src="../assets/img/logo.png"
    />
    <h1>Handi'Aide</h1>
    <div class="spacer"></div>
    <div title="Nombre d'utilisateurs connectés">
      <p>1</p>
    </div>
  </header>

  <!-- Navbar -->
  <nav class="navbar">
    <ul>
      <li><a routerLink="/accueil"><img width="50" alt="Accueil" src="../assets/img/icons/home.ico"><span routerLinkActive="activeLink">Accueil</span></a></li>
      <li><a routerLink="/recherche"><img width="50" alt="Recherche" src="../assets/img/icons/search.png"><span routerLinkActive="activeLink">Recherche</span></a></li>
      <li><a routerLink="/messages"><img width="50" alt="Messages" src="../assets/img/icons/msg.png"><span routerLinkActive="activeLink">Messages</span></a></li>
      <li><a routerLink="/profil"><img width="50" alt="Profil" src="../assets/img/icons/profil.png"><span routerLinkActive="activeLink">Profil</span></a></li>
    </ul>
  </nav> 
         
  <router-outlet></router-outlet>

</div>