.content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0px 5em;
    max-width: 1160px;
    padding: 150px 0 20px 20px;
}

.container {
    border-radius: 30px;
    box-shadow: 4px 4px 7px rgba(61, 186, 249, 0.249);
    display: flex;
    flex-direction: column;
    width: 500px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 0;
}

button,
input[type="button"] {
    align-self: center;
    background-color: rgb(61, 186, 249) ;
    border-radius: 10px;
    border: solid 2px rgb(61, 186, 249);
    box-shadow: 2px 2px 7px rgba(134, 134, 134, 0.349);
    font-weight: bold;
    padding: 10px;
    width: 180px;
}

button:hover,
input[type="button"]:hover {
    border: outset 2px rgba(61, 186, 249, 0.25);
    box-shadow: 2px 2px 7px rgba(134, 134, 134, 0.781);
    color: white;
    cursor: pointer;
}

.connectionForm,
.inscriptionForm {
    display: flex;
    flex-direction: column;
}

label {
    margin-left: 55px;
}

input[type="text"]  {
    margin : 0 50px 10px;
    padding: 5px;
    border-radius: 10px;
    border: solid 2px rgb(61, 186, 249);
    box-shadow: 4px 4px 7px rgba(61, 186, 249, 0.249);
}

input[type="button"]  {
    margin: 15px 0 25px;
}


/* Responsive Styles */
@media screen and (max-width: 950px) {
    .content {
        margin: 0px 3em;
        padding: 130px 0px 0px 70px;
        top: 90px;
    }
}

@media screen and (max-width: 700px) {
    .content {
        margin: 0px 2em;
        padding-bottom: 90px;
        padding-left: 0px;
    }
    .container {
        width: auto;
    }
    .button {
        flex-direction: column;
    }
    .button span {
        margin: 7px 0 10px;
    }
}